/* grid breakpoints */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/* color definition */
$white: #ffffff;
$balck: #000000;
$clay: #2A2A43;
$khaki: #C4C4C4;
$grey-suit: #9090A1;
$santas-grey: #9696AD;
$quartz: #DADAEB;
$green-cyan: #11B98F;
$neon-carrot: #FF9839;
$blueberry:  #65A3FF;
$light-red: #FF5353;
$light-purple: #7E49CF;